*{
    margin:0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}


.top{
    display: flex;
    /* background-color: #f4a7bb; */
    background-color: #e5446f;
    flex-direction: column;
    padding: 10px;
}

.top > .header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.top > .header > .logo{
    
    background:url("img/bplogo.png");
    background-size:cover;
    background-repeat: none;
    width: 100px;
    height: 20px;
}

.top > .header > ul{
    gap: 100px;
    display: flex;
    list-style: none;
    padding-right: 120px;
}

.top > .profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.top > .profile > .content{
    max-width: 50%;
}


.top > .profile > .content > p{
    margin:5px 0px;
    padding:5px 0px; 
}


.top > .profile > .content > button{
    width: 20%;
    height: 30px;
    background-color: black;
    color: pink;
}

.top > .profile > .img{
    background:url("img/BP-1.jpg");
    background-size:cover;
    height:300px;
    background-repeat: none;
    border-radius: 10px;
    margin: 30px 40px 40px 40px;
    padding:16;
    width:80%;
}


li{
    margin: 10px;

}

li > h3{
    font-size: 16px;
    
}  

.container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color:black;
    color:whitesmoke;
}

.container > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    
}
.container > .cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.container > .cards > .card{
    background-image: url(img/Blackpink02.jpeg);
    background-size:cover;
    height:250px;
    background-repeat: none;
    border-radius: 10px;
    width:15%;
    
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle > .quotes{
    font-size: 50px;
    padding: 80px 120px ;
    color: black;
    background-color:#e5446f;
}

.middle > .quotes > .author{
    display: flex;
    justify-content: end;
}

.middle > .text{
    justify-content: end;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom > .banner{
    display: flex;
    width: 80%;
    background-color: #e5446f;
    margin: 10%;
    border-radius: 10px;
}
.bottom > .banner > .text{
    margin:30px;
}
.bottom > .banner> button{
    margin:auto;
    background-color: black;
    color:whitesmoke
}
.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color:whitesmoke;
}

